<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Getting Started: Handling Form Submission</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Form</h1>


        <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
            <div name="diversio" >
               <p th:if="${#fields.hasErrors('id')}" > <p  th:errors="*{id}" />
            </div>
            Id: <input type="number" th:field="*{id}" />
            Message: <input type="text" th:field="*{content}" />
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html>